@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.btn-ppob{
    border: 2px solid #ffffff;
    line-height: 15px;
    border-radius: 30px;
}

.navbar{
    background-color: #3870CF;
}

.navbar-toggler {
    border: 2px solid white;
}

.navbar .container .navbar-collapse .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item a:hover{
    border-bottom: 2px solid #ffffff;
}

.banner{
    height: 850px;
    background-image: url(../images/Rectangle1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.banner .container h2{
    font-size: 56px;
    line-height: 72px;
    font-weight: 700;
    color: #ffffff;
}

.galeri .container{
    margin-top: 60px;
}

#gal-bg{
    background-image: url(../images/segi4-kuning-footer.png), url(../images/Polygon3.png), url(../images/segi3-biru-footer.png), url(../images/setling-g.png), url(../images/Rectangle6.png);
    background-repeat: no-repeat;
    background-position: left top, right top, left center, right center, bottom left;
}

.galeri .container h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #1C2661;
    text-align: center;
}

.galeri .container .row .col{
    padding: 10px;
}

.galeri .container .row .col .cardg img:hover{
    transform: scale(1.1);
}

footer{
    margin-top: 50px;
}

.footer1 .container{
    display: flex;
    justify-content: center;
}

.footer1 .container .row h4{
    font-family: 'Poppins';
    color: #1C2661;
    font-weight: 600;
}

.footer1 .container .row .inagata img{
    margin-bottom: 10px;
}

.footer1 .container .row .informasi{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .informasi a{
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .informasi a:hover{
    color: #3870CF;
    letter-spacing: 1px;
}

.footer1 .container .row .tentangf a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .tentangf a:hover{
    color: #3870CF;
    letter-spacing: 1px;
}

.footer1 .container .row .ikuti{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .ikuti a{
    text-decoration: none;
    color: #1C2661;
    margin-bottom: 10px;
}

.footer1 .container .row .ikuti a span{
    color: #404040;
}

.footer1 .container .row .ikuti a span:hover{
    color: #3870CF;
    letter-spacing: 1px;
}

.footer1 .container .copy p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
}
.footer1 .container .gb-f2 .row{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: -70px;
}

.footer1 .container .gb-f1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

.footer1 .container .gb-f1 .row .du{
    padding: 30px 0;
}

.footer1 .container .gb-f2 .row .satu{
    padding-bottom: 10px;
}




@media only screen and (max-width: 767px){
    .banner{
        height: 500px;
        background-image: url(../images/Rectangle1.png);
    }
    
    .banner .container img{
        width: 80%;
    }

    .banner .container h2{
        font-size: 36px;
        line-height: 40px;
    }
    
    .galeri{
        padding: 350px 0 200px 0;
    }

    #gal-bg{
        background-size: 10%;
    }

    .galeri .container h2{
        font-size: 30px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .banner .container img{
        width: 80%;
    }

    .galeri .container h2{
        font-size: 40px;
        line-height: 42px;
    }
}


