@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.btn-ppob{
    border: 2px solid #ffffff;
    line-height: 15px;
    border-radius: 30px;
}

.navbar{
    background-color: #3870CF;
}

.navbar-toggler {
    border: 2px solid white;
}

.navbar .container .navbar-collapse .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item a:hover{
    border-bottom: 2px solid #ffffff;
}

.banner{
    height: 850px;
    background-image: url(../images/Rectangle1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.banner .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 150px;
}

.profil{
    padding: 200px 0;
}

.profil .container{
    display: flex;
    flex-direction: row;
    background-image: url(../images/Rectangle2.png);  
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.profil .container .profil-caption h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #1C2661;
}

.profil .container .profil-caption p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3B41;
    text-align: justify;
}

.video{
    padding: 100px 0;
}

.video .container h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #1C2661;
}

.video .container p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #3A3B41;
}

#vid-bg{
    background-image: url(../images/ling-home.png), url(../images/segi4-kuning-footer.png);
    background-repeat: no-repeat;
    background-position: left top, right top;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.btn-close {
    position:absolute;
    right:-30px;
    top:0;
}

.video-btn{
    border-radius: 20px;
    border: 0px;
}

.video-btn img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.keunggulan{
    margin: 200px 10px;
}

#ke-bg{
    background-image: url(../images/setling.png), url(../images/Polygon3.png), url(../images/Rectangle5.png);
    background-repeat: no-repeat;
    background-position: left top, right top, bottom center;
}

.keunggulan h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #1C2661;
    padding-bottom: 30px;
}

.keunggulan .container{
    display: flex;
    flex-direction: row;
}

.keunggulan .container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.keunggulan .container .content img{
    width: 80px;
    margin-bottom: 20px;
}

.keunggulan .container .content h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}

.keunggulan .container .content p{
    padding: 0 10px;
}

.guru{
    margin: 100px 0;
    width: 100%;
    height: 650px;
    background: linear-gradient(99.2deg, #3A75D1 1.94%, #54BBEC 100%, #54BBEC 100%);
    background-repeat: no-repeat;
}

.guru .container{
    padding-top: 50px;
}

.guru .container .gb-g1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: -80px;
}

.guru .container .gb-g2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 40px;
}

.guru .container h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #ffffff;
}

.guru .container .kenal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guru .container .kenal h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
}

.guru .container .kenal a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.guru .container .kenal a:hover{
    color: #1C2661;
}

.guru .container .row{
    margin-top: 10px;
}

.guru .container .row .col .cardg img:hover{
    transform: scale(1.1);
}

.guru .container .row .col .cardg .card-body{
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

footer{
    margin-top: 50px;
}

.footer1 .container{
    display: flex;
    justify-content: center;
}

.footer1 .container .row h4{
    font-family: 'Poppins';
    color: #1C2661;
    font-weight: 600;
}

.footer1 .container .row .inagata img{
    margin-bottom: 10px;
}

.footer1 .container .row .informasi{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .informasi a{
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .informasi a:hover{
    color: #3870CF;
    letter-spacing: 1px;
}

.footer1 .container .row .tentangf a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .tentangf a:hover{
    color: #3870CF;
    letter-spacing: 1px;
}

.footer1 .container .row .ikuti{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .ikuti a{
    text-decoration: none;
    color: #1C2661;
    margin-bottom: 10px;
}

.footer1 .container .row .ikuti a span{
    color: #404040;
}

.footer1 .container .row .ikuti a span:hover{
    color: #3870CF;
    letter-spacing: 1px;
}

.footer1 .container .copy p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
}

.footer1 .container .gb-f2 .row{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: -70px;
}

.footer1 .container .gb-f1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

.footer1 .container .gb-f1 .row .du{
    padding: 30px 0;
}

.footer1 .container .gb-f2 .row .satu{
    padding-bottom: 10px;
}




/* media queries */
@media only screen and (max-width: 767px){
    .banner{
        height: 500px;
        background-image: url(../images/Rectangle1.png);
    }
    
    .banner .container img{
        width: 80%;
    }
    
    .profil{
        padding: 420px 10px 250px 10px;
    }

    .profil .container .profil-caption h2{
        font-size: 30px;
        line-height: 30px;
    }

    .profil .container .profil-caption p{
        font-size: 14px;
        line-height: 20px;
    }
    
    .video{
        padding: 100px 10px;
    }

    #vid-bg{
        background-size: 10%;
    }

    .video .container h2{
        font-size: 30px;
        line-height: 30px;
    }

    .video .container p{
        font-size: 16px;
        line-height: 20px;
    }
    
    .keunggulan{
        padding: 200px 10px;
    }

    #ke-bg{
        background-size: 10%;
    }

    .keunggulan h2{
        font-size: 30px;
        line-height: 30px;
    }

    .keunggulan .container{
        flex-direction: column;
    }

    .keunggulan .container .content h3{
        font-size: 18px;
        line-height: 20px;
    }

    .keunggulan .container .content p{
        font-size: 14px;
        line-height: 18px;
    }

    .guru{
        height: 1300px;
        background: linear-gradient(99.2deg, #3A75D1 1.94%, #54BBEC 100%, #54BBEC 100%);
        background-repeat: no-repeat;
    }

    .guru .container h2{
        font-size: 30px;
        line-height: 30px;
    }

    .guru .container .kenal{
        flex-direction: column;
    }

    .guru .container .kenal h2{
        font-size: 16px;
        line-height: 20px;
    }

    .guru .container .kenal a{
        font-size: 14px;
        line-height: 18px;
    }

    .guru .container .row .col .cardg{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .guru .container .row .col .cardg img{
        width: 50%;
    }

    .guru .container .row .col .cardg .card-body{
        margin-left: 10px;
    }

    .guru .container .row .col .cardg .card-body h5{
        font-size: 18px;
        line-height: 20px;
    }

    .guru .container .row .col .cardg .card-body p{
        font-size: 14px;
        line-height: 18px;
    }

    .guru .container .gb-g2 img{
        width: 30%;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .banner .container img{
        width: 80%;
    }

    .profil .container .profil-caption h2{
        font-size: 40px;
        line-height: 42px;
    }

    .profil .container .profil-caption p{
        font-size: 16px;
        line-height: 24px;
    }

    .video .container h2{
        font-size: 40px;
        line-height: 42px;
    }

    .video .container p{
        font-size: 20px;
        line-height: 24px;
    }

    .keunggulan h2{
        font-size: 40px;
        line-height: 42px;
    }

    .keunggulan .container .content h3{
        font-size: 20px;
        line-height: 24px;
    }

    .keunggulan .container .content p{
        font-size: 16px;
        line-height: 20px;
    }

    .guru{
        height: 500px;
        background: linear-gradient(99.2deg, #3A75D1 1.94%, #54BBEC 100%, #54BBEC 100%);
        background-repeat: no-repeat;
    }

    .guru .container h2{
        font-size: 40px;
        line-height: 42px;
    }

    .guru .container .kenal h2{
        font-size: 18px;
        line-height: 24px;
    }

    .guru .container .kenal a{
        font-size: 16px;
        line-height: 20px;
    }

    .guru .container .row .col .cardg .card-body h5{
        font-size: 20px;
        line-height: 24px;
    }

    .guru .container .row .col .cardg .card-body p{
        font-size: 16px;
        line-height: 20px;
    }
}
